
#canvas-container {
    margin: auto;
}

svg use, svg circle {
    cursor: pointer;
}

#canvas-container {
    text-align: center;
}

g.close {
    cursor: pointer;
}

circle.selected {
    stroke: #00000048;
    stroke-width: 5px;
}