[submodule "manual.git"]
	path = manual
	url = https://github.com/odap-ac-uk/manual.git
[submodule "manual"]
	path = manual
	url = https://github.com/odap-ac-uk/manual
[submodule "_outputs"]
	path = _outputs
	url = https://github.com/ed-psh/_outputs
