<!-- Start About area -->
<div class="about-area area-padding">
    <div class="container">
        <div class="row">
            <!-- Start Column Start -->
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="about-text">
                    <div class="left-headline">
                        <span class="top-text">
                            <i class="ti-user"></i>
                            <span><a id="about">About us</a></span>
                        </span>
<p>
The Outbreak Data Analysis Platform (ODAP) partnership was set up by scientists across the UK to bring together the data from multiple studies in a single secure and powerful computer system that allows scientists to analyse everything all together for the first time.  

The data is held securely and anonymously, and access is restricted to only accredited scientists who are able to access and use the data – after going through a <a href="https://ukdataservice.ac.uk/help/secure-lab/what-is-the-five-safes-framework/">five safes</a>
 application process. 

The linked nature of health care data in the UK National Health Service (NHS) makes the UK one of the very few places in the world were this can be done in big enough numbers to make new discoveries possible. It offers the opportunity for scientists to make new discoveries to help treat patients and improve responses to health concerns, and to improve the pandemic response.  

                        </p>
                        <div class="ab-mark-text">
                            <ul>
                                <li>Accessible to accredited researchers</li>
                                <li>High quality, transformative science</li>
                                <li>Tackling Important questions to understand and treat disease</li>
                                <li>Secure high-performance compute platform</li>
                            </ul>
                        </div>
                        <div class="about-company">
                            <div class="single-about">
                                <!--
                                <div class="ab-text-one">
                                    <span class="about-icon"><i class="flaticon-082-networking"></i></span>
                                    <span class="ab-text">Driven by curiosity</span>
                                </div>
                                -->
                            </div>
                            <div class="single-about">
                                <!--
                                <div class="ab-text-two">
                                    <span class="about-icon"><i class="flaticon-033-goal"></i></span>
                                    <span class="ab-text">Ambition to change medicine</span>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Column -->
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="ab-image">
                    <img src="{{'/assets/img/art/ab2.jpg' | relative_url }}" alt="">
                    <div class="flat-content">
                        <span class="flat-text"> Scalable academic capacity </span>
                        <span class="flat-text f-text-down"> Supporting the public health response </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About area -->