<!-- Start Feature Area -->
<div class="feature-area feature-area-2 fix area-padding {% if  page.home == 4 %} bg-color {% endif %}">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-content">
                    <div class="feature-images">
                        <img src="{{'/assets/img/art/p5.jpg' | relative_url }}" alt="" class="first-img">
                        <img src="{{'/assets/img/art/sd1.jpg' | relative_url }}" alt="" class="over-img">
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-all">
                    <div class="right-headline">
                        <span class="top-text">
                            <i class="ti-stats-up"></i>
                            <span>Values</span>
                        </span>
                        <h2>We have a shared goal.</h2>
                        <p>
                            Speak to anyone at the Pandemic Science Hub and they will tell you why we're here: to find effective treatments, fast. 
                        </p>
                    </div>
                    <!-- about single -->
                    <div class="support-services wow fadeInUp" data-wow-delay="0.3s">
                        <a class="support-images" href="#"><i class="flaticon-014-hierarchical-structure"></i></a>
                        <div class="support-content">
                            <h4>Curiousity</h4>
                            <p>Be creative, and have the freedom and support to experiment, take risks and try again when things don't quite work.</p>
                        </div>
                    </div>
                    <!-- about single -->
                    <div class="support-services wow fadeInUp" data-wow-delay="0.7s">
                        <a class="support-images" href="#"><i class="flaticon-125-analytics"></i></a>
                        <div class="support-content">
                            <h4>Ambition</h4>
                            <p>We became scientists because we believe medicine can be better. We are measured by the impact we have. Have fun together and make a difference.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Feature Area -->
<!-- Start Feature Area -->
<div class="feature-area {% if page.home != 4 %} bg-color {% endif %} fix area-padding">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-all">
                    <div class="right-headline">
                        <span class="top-text">
                            <i class="ti-stats-up"></i>
                            <span>Culture</span>
                        </span>
                        <h2>
                            We have the momentum and drive to maintain a positive culture
                        </h2>
                        <p>
                            Our culture promotes leadership from everyone to achieve the core aims of the programme. We foster a open, inclusive envoronment in which everyone has freedom to follow their ideas, no-one is afraid to take risks, mistakes are expected and we are willing to try, and therefore to fail. These are our guiding values:
                        </p>
                    </div>

                    <!-- about single -->
                    <div class="support-services wow fadeInUp" data-wow-delay="0.7s">
                        <a class="support-images" href="#"><i class="flaticon-125-analytics"></i></a>
                        <div class="support-content">
                            <h4>Teamwork</h4>
                            <p>think big, span multiple scientific and clinical disciplines and act collegiately and collaboratively to encourage valuable contribution. The PSH is built on openness and honesty. Expect mutual sharing, trust and integrity.  <!--Be part and proud of an adaptive, people and patient-centred purpose.--></p>
                        </div>
                    </div>
                    <!-- about single -->
                    <div class="support-services wow fadeInUp" data-wow-delay="0.7s">
                        <a class="support-images" href="#"><i class="flaticon-125-analytics"></i></a>
                        <div class="support-content">
                            <h4>Empowering People</h4>
                            <p>Enabling empowerment and inclusivity, supporting a caring and respectful working environment in which a willingness to learn is rewarded with an opportunity to thrive.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6">
                <div class="feature-content">
                    <div class="feature-images">
                        <img src="{{'/assets/img/art/vd.jpg' | relative_url }}" alt="" class="first-img">
                        <img src="{{'/assets/img/art/sd.jpg' | relative_url }}" alt="" class="over-img">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Feature Area -->
