<!-- Start intro area -->
<div class="intro-area intro-home intro-area-3">
    <div class="bg-wrapper">
        <img src="{{'/assets/img/background/bg1.jpg' | relative_url }}" alt="">
    </div>
    <div class="intro-content">
        <div class="slider-content">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <div class="slide-all-text">
                            <!-- layer 1 -->
                            <div class="layer-1 wow fadeInUp" data-wow-delay="0.3s">
                                <h4 class="title-1">Global marketing expertise company</h4>
                            </div>
                            <!-- layer 2 -->
                            <div class="layer-2 wow fadeInUp" data-wow-delay="0.3s">
                                <h2 class="title-2">Business policy change merket revenue value </h2>
                            </div>
                            <!-- layer 3 -->
                            <div class="layer-3 wow fadeInUp" data-wow-delay="0.7s">
                                <a href="{{'/all-services' | relative_url }}" class="ready-btn anti-btn">Get Started</a>
                                <div class="video-content">
                                    <a href="https://www.youtube.com/watch?v=O33uuBh6nXA" class="video-play vid-zone">
                                        <i class="fa fa-play"></i>
                                        <span>watch video</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Slider Area -->