<!-- Team area start -->
<div class="team-area area-padding-2">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="section-headline text-center">
                    <span class="top-text">
                        <i class="ti-layout"></i>
                        <span>PSH Team</span>
                    </span>
                    <p>We help individuals in our team to thrive whilst advancing the core aims of the PSH.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <h3> People </h3>
            {% assign sortedpeople = site.people | sort: "weight" %}
            {% for member in sortedpeople limit:2 %}
            <div class="col-xl-4 col-lg-4 col-md-4">
                {% include member-card.html %}
            </div>
            {% endfor %}
        </div>
        <div class="row">
            {% for member in sortedpeople offset:2 %}
            <div class="col-xl-4 col-lg-4 col-md-4">
                {% include member-card.html %}
            </div>
            {% endfor %}
            
        </div>
    </div>
</div>
<!-- team area end -->