<form id="contactForm" method="POST" action="https://formspree.io/mknqezny" class="contact-form">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6">
            <input type="text" name="Name" id="name" class="form-control" placeholder="Name" required
                data-error="Please enter your name">
            <div class="help-block with-errors"></div>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-6">
            <input name="Email" type="email" class="email form-control" id="email" placeholder="Email" required
                data-error="Please enter your email">
            <div class="help-block with-errors"></div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12">
            <input name="Subject" type="text" id="msg_subject" class="form-control" placeholder="Subject" required
                data-error="Please enter your message subject">
            <div class="help-block with-errors"></div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12">
            <textarea name="Message" id="message" rows="7" placeholder="Massage" class="form-control" required
                data-error="Write your message"></textarea>
            <div class="help-block with-errors"></div>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12">
            <button type="submit" id="submit" class="contact-btn">Send Message</button>
            <div id="msgSubmit" class="h3 text-center hidden"></div>
            <div class="clearfix"></div>
        </div>
    </div>
</form>