<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="tabe-img">
            <img src="{{'/assets/img/art/s5.jpg' | relative_url }}" alt="">
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="machine-text">
            <span class="services-top-text"> Realy great services for any technology
                related</span>
            <h2>Our Marketing Plan Is The Best Plan About Present Tech World</h2>
            <p>Dummy text is also used to demonstrate the appearance of different typefaces
                and layouts, and in general the content of dummy text is nonsensical. used
                to demonstrate the appearance of different typefaces and layouts, and in
                general the content of dummy text is nonsensical</p>
            <ul>
                <li><a href="#">Innovation idea latest business tecnology</a></li>
                <li><a href="#">Digital content marketing online clients plateform</a></li>
                <li><a href="#">Safe secure services for you online email account</a></li>
                <li><a href="#">Innovation idea latest business tecnology</a></li>
            </ul>
        </div>
    </div>
</div>