<div class="row">
    <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="tabe-img">
            <img src="{{'/assets/img/art/s1.jpg' | relative_url }}" alt="">
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6">
        <div class="machine-text">
            <span class="services-top-text">Host Genetics</span>
            <h2>Why do genes matter?</h2>

            <!-- 
                NOTE: DROP THIS BIT - IT IS HARD TO MAINTAIN. DITCH IT.
            -->

            <p>
                Whenever an infection spreads, some of us are very susceptible, and others don't get sick at all. This variation can enable us to find the specific molecular changes in the genome that drive severe disease. These genetic changes sometimes act a bit like the effect of a drug, which means we can ask the most important question in the PSH: what would be the effect of treating people with this drug? 
            </p>
            <ul>
                <li>In 2020 we discovered a genetic signal that led directly to a new effective treatment for Covid-19</li>
                <li>We have discovered 49 genetic associations with severe Covid-19</li>
                <li>During the 2022 outbreak of unexplained liver failure in children, we demonstrated a strong genetic association with susceptibility</li>
            </ul>
        </div>
    </div>
</div>