<div id="canvas-container">
    <svg id="canvas" width="1000" height="700" xmlns="http://www.w3.org/2000/svg">
        <defs>
            <svg xmlns="http://www.w3.org/2000/svg" id="jar" width="10" height="11.5" viewBox="0 0 10 11.5" preserveAspectRatio="none">
                <path stroke-linejoin="bevel" d="M 0 2 L 0 9 Q 5 13 10 9 L 10 2 Q 5 -1 0 2 Q 5 5 10 2" />
            </svg>
        </defs>
        <rect id="svg-background" x="0" y="0" stroke="none" fill="#b3cde380" />
</svg>
</div>
<script src="https://cdn.jsdelivr.net/npm/d3-dispatch@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-quadtree@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-timer@3"></script>
<script src="https://cdn.jsdelivr.net/npm/d3-force@3"></script>
<script src="/assets/networks/scripts/fcs_network.js"></script>
