<!-- Start About area -->
<div class="about-area area-padding">
    <div class="container">
        <div class="row">
            <!-- Start Column Start -->
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="about-text">
                    <div class="left-headline">
                        <span class="top-text">
                            <i class="ti-user"></i>
                            <span><a id="about">{{ page.title }}</a></span>
                        </span>
                        {{ content }}

                        </p>
                        <div class="ab-mark-text">
                            <ul>
                                <li><a href="#">Genetics-fuelled discovery of effective drugs</a>
                                </li>
                                <li><a href="#">Rapid, efficient testing for efficacy in lungs</a>
                                </li>
                                <li><a href="#">Find effective treatments that make things better for patients</a></li>
                            </ul>
                        </div>
                        <div class="about-company">
                            <div class="single-about">
                                <!--
                                <div class="ab-text-one">
                                    <span class="about-icon"><i class="flaticon-082-networking"></i></span>
                                    <span class="ab-text">Driven by curiosity</span>
                                </div>
                                -->
                            </div>
                            <div class="single-about">
                                <!--
                                <div class="ab-text-two">
                                    <span class="about-icon"><i class="flaticon-033-goal"></i></span>
                                    <span class="ab-text">Ambition to change medicine</span>
                                </div>
                                -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Column -->
            <div class="col-xl-6 col-lg-6 col-md-12">
                <div class="ab-image">
                    <img src="{{'/assets/img/art/ab2.jpg' | relative_url }}" alt="">
                    <div class="flat-content">
                        <span class="flat-text"> Driven by curiosity</span>
                        <span class="flat-text f-text-down"> Ambition: to change medicine</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About area -->