---
layout: default
---

<script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script>

<div class="container pb-6 pt-6 pt-md-10 pb-md-10">
  <div class="row justify-content-start">
    <div class="col-12 col-md-8">
      <div class="output output-single">
        <h1 class="title">{{page.title}}</h1>
        <div class="altmetric-embed" data-badge-type="donut" data-doi="{{page.doi}}"></div>
        <div class="content">{{content}}</div>
      </div>
    </div>
  </div>
</div>