---
layout: default
bodyClass: page-outputs-list
---

<script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script>

<div class="container">
  <div class="row">
    {% assign sortedoutputs = site.outputs | sort: "weight" %}
    {% for output in sortedoutputs %}
    <div class="col-12 col-md-12 mb-12">
      <div class="output output-summary">
        <h2>{{ output.title }}</h2>
        <div class="altmetric-embed" data-badge-type="donut" data-doi="{{output.doi}}"></div>
        <div class="output-content">
          <p>{{ output.content }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>