---
layout: default
bodyClass: page-outputs-list
---

<script type="text/javascript" src="https://d1bxh8uas1mnw7.cloudfront.net/assets/embed.js"></script>

<div class="intro">
  <div class="container">
    <div class="row justify-content-start">
      <div class="col-12 col-md-7 col-lg-6 order-2 order-md-1">
        {{ content }}
      </div>
      {% if page.intro_image %}
      <div class="col-12 col-md-5 col-lg-6 order-1 order-md-2 position-relative">
        <a href="{{page.image_target_url}}"><img alt={{ page.title }} class="intro-image{% if page.intro_image_absolute %} intro-image-absolute{% endif %}{% if page.intro_image_hide_on_mobile %} intro-image-hide-mobile{% endif %}" src="{{ page.intro_image | relative_url }}" /></a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container pt-6 pb-6">
  <div class="row">
    {% assign sortedoutputs = site.outputs | sort: "weight" %}
    {% for output in sortedoutputs %}
    <div class="col-12 col-md-6 mb-3">
      <div class="output output-summary">
        <div class="output-content">
          <h2 class="output-title">
            <a href="{{site.baseurl}}{{ output.url }}">{{ output.title }}</a>
          </h2>
          <p>{{ output.content | markdownify | strip_html | truncate: 250 }}</p>
          <div class="altmetric-embed" data-badge-type="donut" data-doi="{{output.doi}}"></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>